body{
	background-color: #ffffff;
	font-family:Microsoft JhengHei;
}
#page-wrapper {
    width: 100%;
    padding-left:270px;
    padding-right: 30px;
    background-color: #fff;
}
.page-header{
    font-weight: bold;
}
.dash4_today_span{
    padding-right: 5px;
}
.dash_title{

}
.dash_title ol li a{
    font-size:18px;
    color:#000;
}
#DATE{
    font-size:18px;
    color:#000;
    font-weight: normal;
}
#dash4_device_css{
    font-size:18px;
    color:#adadba;
}
#dash4_device_sign{
    color: #7f0000;
}
.panel{

}
.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    background-color: #d9534f;
    font-size:18px;

}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.panel-heading{
    font-size:18px;
    color: #fff;
}
.panel-primary > .panel-heading{
    color: #fff;
}
#table-peaks{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    font-size:20px;
}
.dash4_map{
    border:0.5px #ccc solid;
    border-radius:8px;
    width:1300px;
    height:600px;
    background-color:#eee;
}
.dash4_map_label{
    font-size: 20px;
    font-family: Microsoft JhengHei;
}
.dash4_map_spacewhite{
    height: 20px;
}