#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    background-color: #110f0f;
    width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.sidebar-nav li {
    line-height: 60px;
}

.sidebar-nav li a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-right: 14px;
}

.sidebar-nav li a span {
    margin-top: 14px;
    padding-right: 10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 70px;
    font-size: 38px;
    line-height: 60px;
    font-family: Ariel Black, sans-serif;
    color: #fff9f9;
    padding-left: 15px;
    background-color: #110f0f;
}
.sidebar-nav > .sidebar-brand p{
    margin:0px;
}

.sidebar-nav > .nav-space-1{
    height: 20px;
}
.sidebar-nav > .nav-space-2{
    height: 300px;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}




@media(min-width:768px) {
    #sidebar-wrapper {
        width: 250px;
    }
}



