body{
	font-family: Microsoft JhengHei, sans-serif;
	background-color: #efefef;
	overflow: scroll;
}
.topnav_css{
	background-color: #ffffff;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}
.navbar-nav li label{
	font-weight: normal;
	margin-top: 1px;
	margin-bottom: 1px;
}
#title_css{
	padding-right: 10px;
	padding-left: 10px;
	font-family: Ariel Black, sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #000;
}
.navbar-nav span{
	font-size: 22px;
}
.navbar-nav{
	font-size: 20px;
}
.navbar-nav li{
	line-height: 50px;
}

.navbar-nav li a{
	color: #000;
}
.navbar-nav li a:hover{
	background-color: #878787;
}
.topnav_and_form_padding{
	height: 20px;
}
.register_box{
	border-radius: 5px;
	background-color: #fff;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	height: 630px;
	width: 600px;
	margin:0px auto;
	padding-right: 20px;
	padding-left: 20px;
}
#form_title{
	font-size: 30px;
	font-weight: bold;
	color: #000;
}
.register_box label{
	font-size: 18px;
	color: #000;
}
.register_box span{
	color: #7f0000;
}
.form_inside_padding{
	height: 20px;
}
.form_inside_padding2{
	height: 10px;
}
button[type="submit"]{
	width: 30%;
	font-size: 20px;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	border-radius: 2px;
	background-color: #e0e1e2;
	font-weight: bold;
	color: #000;
}
button[type="submit"]:hover{
	font-size: 21px;
	color: #000;
}
.buttom_padding{
	height: 30px;
}

